/* Стили для видео контейнера и превью */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Соотношение сторон 16:9 */
    background: #000;
}

.video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button {
    width: 68px;
    height: 48px;
    background-color: rgba(33, 33, 33, 0.8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #ff0000;
}

.play-button svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
} 